.nav-tabs{
    background-color: rgb(151, 247, 138);
    height: 3.5rem;
}

h3{
    background-color: rgb(107, 200, 247);
}
.yoverFlow{
    // overflow-y: hidden;
    overflow-y: auto ;
    height: 10rem;
    background-color: rgb(240, 187, 187);
}
.btnPostion{
    margin-left: 74%;
}